@model List <Crm.Models.Ocorrencia>
@{
    ViewBag.Title = "Listar";
}

<div class="accordion">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

